body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 5.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.875rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.85rem;
    font-size: calc( 2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.5749999999999997rem + (5.5 - 2.5749999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #3f448c !important;
}
.bg-success {
  background-color: #5758e0 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #5b686b !important;
}
.bg-danger {
  background-color: #873f8c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3f448c !important;
  border-color: #3f448c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #242750 !important;
  border-color: #242750 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #242750 !important;
  border-color: #242750 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #8c3f7e !important;
  border-color: #8c3f7e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #502448 !important;
  border-color: #502448 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #502448 !important;
  border-color: #502448 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #534d46 !important;
  border-color: #534d46 !important;
}
.btn-success,
.btn-success:active {
  background-color: #5758e0 !important;
  border-color: #5758e0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2324bd !important;
  border-color: #2324bd !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2324bd !important;
  border-color: #2324bd !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #5b686b !important;
  border-color: #5b686b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #333a3c !important;
  border-color: #333a3c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #333a3c !important;
  border-color: #333a3c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #873f8c !important;
  border-color: #873f8c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4d2450 !important;
  border-color: #4d2450 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4d2450 !important;
  border-color: #4d2450 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3f448c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #242750 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3f448c !important;
  border-color: #3f448c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c3f7e;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #502448 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #8c3f7e !important;
  border-color: #8c3f7e !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #82786e;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #534d46 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #5758e0;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2324bd !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #5758e0 !important;
  border-color: #5758e0 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #5b686b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #333a3c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5b686b !important;
  border-color: #5b686b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #873f8c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4d2450 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #873f8c !important;
  border-color: #873f8c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #3f448c !important;
}
.text-secondary {
  color: #8c3f7e !important;
}
.text-success {
  color: #5758e0 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #5b686b !important;
}
.text-danger {
  color: #873f8c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #1f2246 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #461f3f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2122b0 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #2c3234 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #431f46 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #3f448c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #5b686b;
}
.alert-danger {
  background-color: #873f8c;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3f448c;
  border-color: #3f448c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #3f448c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #8388c7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9ba7aa;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #c383c7;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #3f448c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #3f448c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3f448c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #3f448c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3f448c;
  border-bottom-color: #3f448c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3f448c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #8c3f7e !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%233f448c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s1YNw91RvB .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YNw91RvB .btn {
  white-space: nowrap;
}
.cid-s1YNw91RvB .nav-link,
.cid-s1YNw91RvB .icons-menu .mbr-iconfont,
.cid-s1YNw91RvB .dropdown-item {
  transition: all 0.1s;
}
.cid-s1YNw91RvB .nav-link:hover,
.cid-s1YNw91RvB .icons-menu .mbr-iconfont:hover,
.cid-s1YNw91RvB .dropdown-item:hover {
  color: #8c3f7e !important;
}
@media (max-width: 992px) {
  .cid-s1YNw91RvB .icons-menu {
    padding: 1rem 0!important;
  }
}
.cid-s1YNw91RvB .container {
  display: flex;
  margin: auto;
}
.cid-s1YNw91RvB .navbar {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 77px;
  transition: all .3s;
  background: #040402;
  background: none;
}
.cid-s1YNw91RvB .navbar.opened {
  transition: all .3s;
}
.cid-s1YNw91RvB .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s1YNw91RvB .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-s1YNw91RvB .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s1YNw91RvB .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s1YNw91RvB .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.2rem);
  }
}
.cid-s1YNw91RvB .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s1YNw91RvB .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s1YNw91RvB .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s1YNw91RvB .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s1YNw91RvB .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s1YNw91RvB .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s1YNw91RvB .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s1YNw91RvB .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s1YNw91RvB .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s1YNw91RvB .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s1YNw91RvB .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s1YNw91RvB .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s1YNw91RvB .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s1YNw91RvB .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s1YNw91RvB .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s1YNw91RvB .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-s1YNw91RvB .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s1YNw91RvB .navbar.navbar-short {
  background: #040402 !important;
  min-height: 60px;
}
.cid-s1YNw91RvB .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s1YNw91RvB .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s1YNw91RvB .dropdown-menu {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
.cid-s1YNw91RvB .nav-dropdown .link {
  padding: 0.4rem 1rem!important;
  margin: .2em 0.5rem;
}
.cid-s1YNw91RvB .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s1YNw91RvB .mbr-iconfont {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s1YNw91RvB .navbar-caption {
  padding-right: 4rem;
}
.cid-s1YNw91RvB .navbar-nav {
  justify-content: flex-end;
  width: -webkit-fill-available;
}
.cid-s1YNw91RvB .dropdown-menu,
.cid-s1YNw91RvB .navbar.opened {
  background: #191919 !important;
}
.cid-s1YNw91RvB .nav-item:focus,
.cid-s1YNw91RvB .nav-link:focus {
  outline: none;
}
.cid-s1YNw91RvB .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YNw91RvB .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s1YNw91RvB .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s1YNw91RvB .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s1YNw91RvB .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s1YNw91RvB .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
}
.cid-s1YNw91RvB .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s1YNw91RvB .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s1YNw91RvB .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s1YNw91RvB .dropdown-item.active,
.cid-s1YNw91RvB .dropdown-item:active {
  background-color: transparent;
}
.cid-s1YNw91RvB .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s1YNw91RvB .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s1YNw91RvB .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s1YNw91RvB .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #040402;
}
.cid-s1YNw91RvB .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s1YNw91RvB .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s1YNw91RvB ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-s1YNw91RvB .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s1YNw91RvB button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s1YNw91RvB button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s1YNw91RvB button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s1YNw91RvB button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s1YNw91RvB button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s1YNw91RvB button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s1YNw91RvB nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1YNw91RvB nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s1YNw91RvB nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s1YNw91RvB nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s1YNw91RvB .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s1YNw91RvB a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s1YNw91RvB .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 160px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-s1YNw91RvB .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s1YNw91RvB .navbar {
    height: 77px;
  }
  .cid-s1YNw91RvB .navbar.opened {
    height: auto;
  }
  .cid-s1YNw91RvB .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s1YNw91RvB .nav-link {
  margin: auto!important;
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  transition: all 0.3s;
}
.cid-s1YNmF9EpW {
  padding-top: 225px;
  padding-bottom: 225px;
  background-image: url("../../../assets/images/mbr-2.jpg");
}
.cid-s1YNmF9EpW H1 {
  color: #bed3f9;
  text-align: left;
}
.cid-s1YNmF9EpW h1 {
  background: linear-gradient(to left, #8c3f7e, currentColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-s1YNmF9EpW .mbr-text,
.cid-s1YNmF9EpW .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-sGK9W81mZa {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-sGK9W81mZa .mbr-section-title {
  font-weight: bold;
  color: #232323;
  margin-bottom: 2.5rem;
}
.cid-sGK9W81mZa .tab-header {
  color: #232323;
}
.cid-sGK9W81mZa .mbr-section-subtitle {
  font-weight: 500;
  margin-bottom: 2rem;
}
.cid-sGK9W81mZa .mbr-element-title {
  margin-bottom: 1rem;
}
.cid-sGK9W81mZa .card-img {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cid-sGK9W81mZa .card-img span {
  font-size: 52px;
}
.cid-sGK9W81mZa .mbr-iconfont {
  font-size: 3rem;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sGK9W81mZa .nav {
  border: none;
  margin-bottom: 3rem;
}
.cid-sGK9W81mZa .nav-tabs {
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-sGK9W81mZa .tabcont {
  z-index: 1;
  margin: 0;
}
.cid-sGK9W81mZa .nav-item {
  margin-top: 1rem;
}
.cid-sGK9W81mZa .tab-content-row {
  width: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
}
.cid-sGK9W81mZa .tab-content {
  width: 100%;
}
.cid-sGK9W81mZa .nav-tabs .nav-link {
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  padding: 1rem;
  margin: 0px -0.5px;
  transition: all .5s;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom: 1px solid #232323;
}
.cid-sGK9W81mZa .nav-tabs .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid #232323;
}
.cid-sGK9W81mZa .nav-tabs .nav-link.active {
  border: 1px solid #232323;
  border-bottom: none;
  font-style: normal;
  background-color: transparent;
}
.cid-sGK9W81mZa .mbr-section-text {
  color: #ffffff;
}
.cid-s1YPl57Et0 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s1YPl57Et0 .card-wrapper {
  display: flex;
  padding: 0 1.5rem;
}
@media (max-width: 1600px) {
  .cid-s1YPl57Et0 .card-wrapper {
    padding: 0;
  }
}
.cid-s1YPl57Et0 img {
  width: 100%;
}
.cid-s1YPl57Et0 .mbr-iconfont {
  font-size: 3rem;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-s1YPl57Et0 .line {
  width: 55px;
  margin-bottom: 0.5rem;
  height: 5px;
  display: inline-block;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
}
.cid-s1YPl57Et0 .icon-wrapper {
  margin: auto;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.cid-s1YPl57Et0 h4 {
  margin: 0;
}
.cid-s1YPl57Et0 .card-text {
  color: #353535;
  text-align: left;
}
.cid-s1YPl57Et0 .mbr-text {
  color: #000000;
}
.cid-s1YPl57Et0 .card-title {
  color: #232323;
}
@media (min-width: 1200px) {
  .cid-s1YPl57Et0 .mbr-text {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .cid-s1YPl57Et0 .card-wrapper {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  .cid-s1YPl57Et0 .card-wrapper .icon-wrapper {
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-s1YPl57Et0 .mbr-text {
    padding-bottom: 2rem;
    max-width: 100%;
  }
}
.cid-s1YPl57Et0 H3 {
  color: #787324;
}
.cid-s1YPl57Et0 .mbr-section-title,
.cid-s1YPl57Et0 .title-wrapper {
  color: #232323;
}
.cid-s1YPl57Et0 .mbr-text,
.cid-s1YPl57Et0 .mbr-section-btn {
  color: #353535;
  text-align: right;
}
.cid-sIOGCU6c7M {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sIOGCU6c7M .card-icon {
  font-size: 40px;
  color: #603f8c;
  transition: color 0.3s;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sIOGCU6c7M .card-title {
  font-weight: 600;
  letter-spacing: 1px;
}
.cid-sIOGCU6c7M .link-ico {
  font-size: 0.8rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 0.5rem 0;
  font-weight: 900;
  padding-left: 9px;
  padding-right: 7px;
}
.cid-sIOGCU6c7M .line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: #603f8c;
  margin-bottom: 1.5rem;
  transition: background 0.3s;
}
.cid-sIOGCU6c7M .card {
  padding: 0 !important;
}
.cid-sIOGCU6c7M .card-wrapper {
  padding: 4rem;
  transition: background 0.3s;
}
.cid-sIOGCU6c7M .card-wrapper:hover {
  background: linear-gradient(to left, #8c3f7e, #3f448c);
}
.cid-sIOGCU6c7M .card-wrapper:hover .card-icon {
  color: #232323;
}
.cid-sIOGCU6c7M .card-wrapper:hover .line {
  background: #232323;
}
.cid-sIOGCU6c7M .card1 {
  background: #232323;
}
.cid-sIOGCU6c7M .card2 {
  background: #282828;
}
.cid-sIOGCU6c7M .card3 {
  background: #2d2d2d;
}
.cid-sIOGCU6c7M .card4 {
  background: #323232;
}
.cid-sIOGCU6c7M .card5 {
  background: #373737;
}
.cid-sIOGCU6c7M .card6 {
  background: #3d3d3d;
}
.cid-sIOGCU6c7M .col-lg-x {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (max-width: 767px) {
  .cid-sIOGCU6c7M .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cid-sIOGCU6c7M .card-title,
.cid-sIOGCU6c7M .card-ico,
.cid-sIOGCU6c7M .line-wrap {
  text-align: center;
}
.cid-sIOGCU6c7M .mbr-text,
.cid-sIOGCU6c7M .card-link {
  text-align: center;
}
.cid-s1YPFUMG3v {
  padding-top: 75px;
  padding-bottom: 15px;
  position: relative;
  background-color: #232323;
}
.cid-s1YPFUMG3v p {
  color: #767676;
  padding: 0;
  letter-spacing: 0px;
}
.cid-s1YPFUMG3v .panel-title {
  border-bottom: 2px solid #5758e0;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.cid-s1YPFUMG3v .collapsed {
  border: none;
}
.cid-s1YPFUMG3v .collapsed span {
  transform: rotate(0deg);
}
.cid-s1YPFUMG3v span {
  font-size: 1.4rem;
  transition: all 0.3s;
  transform: rotate(45deg);
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.cid-s1YPFUMG3v .panel-body {
  padding-top: 0.5rem;
}
.cid-s1YPFUMG3v .card {
  border-radius: 0px;
  margin-bottom: -1px;
}
.cid-s1YPFUMG3v .card .card-header {
  border-radius: 0px;
  margin: 0.5rem 0;
  border: 0px;
  background: #353535;
  padding: 0;
}
.cid-s1YPFUMG3v .card .card-header a.panel-title {
  margin-bottom: 0;
  margin-top: -1px;
  font-style: normal;
  text-decoration: none !important;
  line-height: normal;
}
.cid-s1YPFUMG3v .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-s1YPFUMG3v .card .card-header a.panel-title h4 {
  padding: 1.3rem 2rem;
  margin-bottom: 0;
}
.cid-s1YPFUMG3v .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
.cid-s1YPFUMG3v .panel-text {
  color: #fafafa;
  text-align: left;
}
.cid-s1YPFUMG3v H4 {
  color: #fafafa;
  text-align: left;
}
.cid-s1YPFUMG3v H2 {
  color: #ffffff;
}
.cid-s1YPFUMG3v .mbr-section-text {
  color: #999999;
}
.cid-s1YPyUn2on {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #232323;
}
.cid-s1YPyUn2on img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-s1YPyUn2on .link-wrapper {
  margin-bottom: 1rem;
}
.cid-s1YPyUn2on .link-wrapper .mbr-iconfont {
  border: 1px solid #999999;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  color: #999999;
}
.cid-s1YPyUn2on .img-wrapper .mbr-iconfont {
  font-size: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1rem;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-s1YPyUn2on .card-wrapper {
  background: #353535;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-s1YPyUn2on .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-s1YPyUn2on .first:hover:before {
  content: none;
}
.cid-s1YPyUn2on .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 200px;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  content: '';
}
.cid-s1YPyUn2on .last:hover:after {
  content: none;
}
.cid-s1YPyUn2on .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 200px;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  content: '';
}
.cid-s1YPyUn2on .mbr-section-text {
  color: #999999;
}
.cid-s1YPyUn2on .card {
  z-index: 1;
  min-height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
}
.cid-s1YPyUn2on .card .img-wrapper {
  overflow: hidden;
}
.cid-s1YPyUn2on .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-s1YPyUn2on .card:hover .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
  -webkit-background-clip: transparent;
  -webkit-text-fill-color: unset;
}
.cid-s1YPyUn2on .card:hover .card-wrapper {
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  color: #ffffff !important;
}
.cid-s1YPyUn2on .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-s1YQ4DrGok {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-8.jpg");
}
.cid-s1YQ4DrGok .card-box {
  padding: 0 1rem;
  position: relative;
  z-index: 2;
}
.cid-s1YQ4DrGok .card-img {
  padding-bottom: 1rem;
}
.cid-s1YQ4DrGok .card {
  cursor: pointer;
  transition: all 0.3s;
}
.cid-s1YQ4DrGok .card:hover {
  transform: translateY(-10px);
}
.cid-s1YQ4DrGok .mbr-text,
.cid-s1YQ4DrGok .card-title {
  opacity: 1;
}
.cid-s1YQ4DrGok .card-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  padding-top: 15rem;
  align-items: center;
  perspective: 300px;
  height: 100%;
}
.cid-s1YQ4DrGok .card-wrapper:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-s1YQ4DrGok .card:hover .card-wrapper:after {
    opacity: 0.8;
    background: linear-gradient(to left, #8c3f7e, #3f448c);
  }
  .cid-s1YQ4DrGok .card:hover .mbr-text,
  .cid-s1YQ4DrGok .card:hover .card-title {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .cid-s1YQ4DrGok .card {
    padding-bottom: 1rem!important;
  }
  .cid-s1YQ4DrGok .card .mbr-text,
  .cid-s1YQ4DrGok .card .card-title {
    opacity: 1;
  }
  .cid-s1YQ4DrGok .card-wrapper:after {
    opacity: 0.7;
    background: linear-gradient(to left, #8c3f7e, #3f448c);
  }
}
.cid-s1YQ4DrGok .row {
  justify-content: center;
}
.cid-s1YQ4DrGok .card-title {
  border-bottom: 1px solid #999999;
}
.cid-s1YQ4DrGok .card1 {
  background-image: url("../../../assets/images/mbr-5.jpg");
}
.cid-s1YQ4DrGok .card2 {
  background-image: url("../../../assets/images/02.jpg");
}
.cid-s1YQ4DrGok .card3 {
  background-image: url("../../../assets/images/mbr-7.jpg");
}
.cid-s1YQ4DrGok .link,
.cid-s1YQ4DrGok .card-box {
  color: #ffffff;
}
.cid-s1YQ4DrGok .mbr-text,
.cid-s1YQ4DrGok .link-wrap {
  text-align: center;
}
.cid-s1YQ4DrGok .main-subtitle {
  color: #ffffff;
}
.cid-s1YQ4DrGok .mbr-section-subtitle {
  color: #999999;
}
.cid-s1YQ4DrGok .mbr-section-text {
  color: #000000;
}
.cid-s1YQ4DrGok .card-title,
.cid-s1YQ4DrGok .card-img {
  color: #d5cece;
}
.cid-sGJVeSgQgk {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/mbr-12.jpg");
}
.cid-sGJVeSgQgk img {
  width: 100%;
  transition: all 0.6s ease-in-out;
  height: 260px;
  object-fit: cover;
}
.cid-sGJVeSgQgk .link-wrapper {
  margin-bottom: 1rem;
}
.cid-sGJVeSgQgk .link-wrapper .mbr-iconfont {
  border: 1px solid #999999;
  border-radius: 50%;
  padding: 8px;
  font-size: 0.8rem;
  color: #999999;
}
.cid-sGJVeSgQgk .img-wrapper .mbr-iconfont {
  font-size: 3rem;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1rem;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-sGJVeSgQgk .card-wrapper {
  background: #353535;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-sGJVeSgQgk .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sGJVeSgQgk .first:hover:before {
  content: none;
}
.cid-sGJVeSgQgk .first:before {
  position: absolute;
  top: -1rem;
  z-index: -1;
  left: 0rem;
  width: 300px;
  height: 200px;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  content: "";
}
.cid-sGJVeSgQgk .last:hover:after {
  content: none;
}
.cid-sGJVeSgQgk .last:after {
  position: absolute;
  bottom: -1rem;
  right: 0rem;
  width: 300px;
  z-index: -1;
  height: 200px;
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  content: "";
}
.cid-sGJVeSgQgk .mbr-section-text {
  color: #ffffff;
}
.cid-sGJVeSgQgk .card {
  z-index: 1;
  min-height: 200px;
  margin-bottom: 2rem;
  position: relative;
  transition: all 0.3s;
}
.cid-sGJVeSgQgk .card .img-wrapper {
  overflow: hidden;
}
.cid-sGJVeSgQgk .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.cid-sGJVeSgQgk .card:hover .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
  -webkit-background-clip: transparent;
  -webkit-text-fill-color: unset;
}
.cid-sGJVeSgQgk .card:hover .card-wrapper {
  background: linear-gradient(to left, #8c3f7e, #3f448c);
  color: #ffffff !important;
}
.cid-sGJVeSgQgk .card:hover .card-wrapper .mbr-section-text {
  color: #ffffff !important;
}
.cid-sGJVeSgQgk .main-subtitle {
  color: #ffffff;
}
.cid-sGKp9lxxpU {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #3f448c;
}
.cid-sGKp9lxxpU .listico {
  padding-right: 1rem;
  font-size: 1.4rem;
}
.cid-sGKp9lxxpU .navbar-logo {
  width: 150px;
  margin-bottom: 10px;
  margin: auto;
}
.cid-sGKp9lxxpU .btn {
  margin: 0 !important;
  height: 55px;
}
.cid-sGKp9lxxpU .form-group {
  padding-right: 0;
}
.cid-sGKp9lxxpU .card {
  padding: 3rem 8rem;
}
.cid-sGKp9lxxpU .google-map {
  height: 100%;
  min-height: 25rem;
  position: relative;
  width: 100%;
}
.cid-sGKp9lxxpU .google-map iframe {
  min-height: 100%;
  width: 100%;
}
.cid-sGKp9lxxpU .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sGKp9lxxpU .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sGKp9lxxpU .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sGKp9lxxpU .map-placeholder {
  display: none;
}
.cid-sGKp9lxxpU .btn-primary {
  border: 1px solid #3f448c !important;
}
.cid-sGKp9lxxpU .btn-primary:hover {
  border: 1px solid #3f448c !important;
}
.cid-sGKp9lxxpU .stripe {
  border-bottom: 1px solid #0087ab;
  max-width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}
.cid-sGKp9lxxpU .form-control {
  background: transparent;
  padding: 0.5rem 1rem;
  min-height: 55px;
  border-radius: 0px;
}
.cid-sGKp9lxxpU .stripe:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 1px solid #e9e9e9;
  width: 85%;
}
.cid-sGKp9lxxpU .mbr-text {
  color: #444;
}
.cid-sGKp9lxxpU h5 {
  margin-bottom: 0;
}
.cid-sGKp9lxxpU .navbar-brand {
  margin: auto;
  width: 100%;
  text-align: center;
}
.cid-sGKp9lxxpU .list-item {
  display: -webkit-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  -webkit-align-items: center;
}
.cid-sGKp9lxxpU .tips {
  height: 90px;
  width: 90px;
  border-radius: 6px;
  margin: 4px;
}
.cid-sGKp9lxxpU .socicon {
  font-size: 1.3rem;
  background: #232323;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sGKp9lxxpU .social-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sGKp9lxxpU .social-list .soc-item {
  margin: 0 0.3rem;
}
.cid-sGKp9lxxpU .social-list a {
  margin: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-sGKp9lxxpU .social-list a:hover {
  opacity: 0.4;
}
.cid-sGKp9lxxpU .media-container-row > div {
  padding: 0px;
}
.cid-sGKp9lxxpU .text2 {
  color: #ffffff;
  text-align: left;
}
.cid-sGKp9lxxpU .group-title {
  text-align: left;
  color: #ffffff;
  padding-bottom: 0.2rem;
}
.cid-sGKp9lxxpU .links {
  color: #ffffff;
  line-height: 1.6;
  text-align: left;
}
@media (max-width: 1200px) {
  .cid-sGKp9lxxpU .card {
    padding: 3rem;
  }
}
@media (max-width: 991px) {
  .cid-sGKp9lxxpU .col-sm-12 {
    margin-bottom: 2rem;
  }
  .cid-sGKp9lxxpU h3 {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .cid-sGKp9lxxpU .form-group {
    max-width: 180px;
  }
  .cid-sGKp9lxxpU .card {
    padding: 2rem 1rem;
  }
}
.cid-sGKp9lxxpU .links span {
  color: #9e9e9e;
}
.cid-sGKp9lxxpU .logo-title,
.cid-sGKp9lxxpU .logo-sub-title {
  text-align: center;
}
.cid-sGKp9lxxpU .logo-sub-title i {
  color: #9e9e9e;
}
.cid-sGPG46OW9P {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
